doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Mongoose ODM v#{package.version}
    link(href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Droid+Sans+Mono|Open+Sans:400,700|Linden+Hill|Quattrocento:400,700|News+Cycle:400,700|Antic+Slab|Cabin+Condensed:400,700', rel='stylesheet', type='text/css')
    link(href='/docs/css/default.css', rel='stylesheet', type='text/css')
    style.
      body {
        background: #d8e2d8 url(/docs/images/square_bg.png); /* #D8E2D8 #B5F66E; /* #CEF6A4; */
        font-family: 'Open Sans', Helvetica, Arial, FreeSans;
        color: #333;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        padding: 0;
        margin: 0;
      }
      a {
        color: #800;
        -webkit-transition-property: opacity, -webkit-transform, color, background-color, padding, -webkit-box-shadow;
        -webkit-transition-duration: 0.15s;
        -webkit-transition-timing-function: ease-out;
      }
      a:hover {
        opacity: 0.8;
      }
      #wrap {
        width: 600px;
        margin: 0 auto;
        position:relative;
      }
      li {
        list-style: square;
      }
      h1 {
        font-family: 'Helvetica Nueue', Helvetica, Arial, FreeSans, sans-serif;
        text-rendering: geometricPrecision;
      }
      pre {
        background: rgba(255,255,255,.8);
        border: 1px solid #bbb;
        padding:5px;
        border-radius: 3px;
        box-shadow: 1px 3px 6px #ddd;
      }
      code {
        background: rgba(255,255,255,.8);
        border: 1px solid #c6c6c6;
        color: #333;
        border-radius: 3px;
        font-size: 13px;
        font-family: Monaco;
      }
      pre code {
        border: 0 none;
        padding: 1.2em;
        overflow-x: auto;
      }
      #header {
        text-align: center;
        padding-top: 40px;
      }
      #header, h2, h3, .tagline, .blurb {
        text-transform: lowercase;
      }
      #header h1 {
        margin-top: 0;
        margin-bottom: 0;
      }
      #header h1 a {
        text-decoration: none;
      }
      #header .mongoose {
        font-size: 146px;
        font-weight: 100;
        text-indent: -23px;
        color: #fff;
        text-shadow: 47px 5px 4px transparent, -6px 0 9px transparent;
        /*-webkit-transition: text-shadow 2s ease-in-out;*/
        /*-moz-transition: text-shadow 2s ease-in-out;*/
      }
      .load #header .mongoose {
        text-shadow: 18px 5px 6px #777, -6px 0px 2px #fff;
        letter-spacing: -14px;
      }
      .tagline {
        color: #800;
        font-size: 25px;
        text-shadow: 1px 1px #f8f8f8;
        text-align: center;
      }
      .blurb {
          text-align: center;
      }
      .tagline a, .blurb a {
        text-decoration: none;
        color: #800;
      }
      #links {
        margin: 30px 10px 46px;
        text-align: center;
        position: relative;
      }
      #links ul {
        margin: 0;
        padding: 0;
      }
      #links li {
        display: inline-block;
        padding: 11px 3px;
        border-radius: 5px;
        border: 1px solid #bbb;
        margin: 0 15px;
        background-color: #fefefe;
      }
      #links a {
        background: #444;
        padding: 9px 67px;
        border-radius: 3px;
        color: #fff;
        text-decoration: none;
        text-transform: lowercase;
        text-shadow: 1px 1px 7px #222;
      }
      #production ul {
        padding: 0;
      }
      #production li {
        float: left;
        list-style: none;
        overflow: hidden;
        height: 133px;
      }
      #production img {
        width: 200px;
      }
      #production a {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        -o-transition-duration: 0.25s;
        transition-duration: 0.25s;
        opacity: 0.7;
      }
      #production a:hover {
        opacity: 1.0;

      }
      .addyourown {
        width: 200px;
        height: 134px;
        text-align: center;
      }
      .addyourown a {
        display: block;
        width: 200px;
        height: 134px;
        padding: 53px 0 0;
        background-color: #F2F7ED;
        background-color: #fff;
      }
      @media only screen and (max-width: 480px) {
        #forkbanner { display: none }
        #header {
          padding-top: 12px;
        }
        #header .mongoose {
          text-align: center;
          font-size: 65px;
          font-weight: 100;
          color: #fff;
          text-shadow: 6px 4px 5px #777, -2px 0px 2px white;
          letter-spacing: -7px;
        }
        .load #header .mongoose {
          text-shadow: 6px 4px 5px #777, -2px 0px 2px white;
          letter-spacing: -7px;
        }
        .tagline {
          text-align: center;
          font-size: 14px;
        }
        .tagline a {
          text-decoration: none;
        }
        .blurb {
          font-size: 16px;
          text-align: justify;
          margin-top: 25px;
        }
        #links {
          margin-bottom: 40px;
        }
        #links li {
          padding: 8px 2px;
          margin: 0 12px;
        }
        #links a {
          background: #444;
          padding: 7px 34px;
          font-size: 15px;
        }
        #docs { margin-left: 0; }
        .module {
          padding-left: 5px;
          border-width: 3px;
        }
        #wrap {
          width: auto;
          padding: 0 5px;
        }
        #production li {
          margin-bottom: 8px;
        }
        #production a {
          opacity: 1;
        }
        #production img {
          width: 100%;
        }
        .addyourown, .addyourown a {
          width: 100%;
        }
      }

  body
    a#forkbanner(href="http://github.com/learnboost/mongoose")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")
    #wrap
      #header
        h1
          a(href="https://github.com/learnboost/mongoose", target="blank")
            .mongoose Mongoose
      p.tagline
       | Elegant 
       a(href="http://www.mongodb.org/", target="blank") MongoDB
       |  object modeling for 
       a(href="http://nodejs.org/", target="blank") Node.js
      #links
        ul
          li
            a(href="docs/guide.html") Docs
          li
            a(href="http://plugins.mongoosejs.com") Plugins
      p.blurb.
        <a href="docs/middleware.html">Flexible</a>, <a href="docs/guide.html">schema based</a> and <a href="docs/queries.html">feature-rich</a>, mongoose solves common problems for <a href="#production">real-world</a> applications.
      #example
        :js
          var mongoose = require('mongoose');
          var db = mongoose.createConnection('localhost', 'test');

          var schema = mongoose.Schema({ name: 'string' });
          var Cat = db.model('Cat', schema);

          var kitty = new Cat({ name: 'Zildjian' });
          kitty.save(function (err) {
            if (err) // ...
            res.end('meow');
          });
      #install
        h2 Installation
        :bash
          $ npm install mongoose
      #getstarted
        h2 Getting Started
        ul
          li
            a(href="docs/index.html") quick start guide
      #support
        h2 Support
        ul
          li irc: #mongoosejs on freenode
          li
            a(href="http://groups.google.com/group/mongoose-orm") google group
          li
            a(href="https://github.com/learnboost/mongoose/issues/") bug reports
          li
            a(href="http://www.mongodb.org/display/DOCS/Technical+Support") 10gen
      #production
        h2 Production
        ul
          each img in images
            li
              a(href=img.url, title=img.title + ' ' + img.desc)
                img(src="/docs/images/apps/" + img.src + ".png", alt=img.title + ' ' + img.desc)
          li.addyourown
            a(href='mailto:aaronheckmann+github@gmail.com?subject=Please add my project to mongoosejs.com', title='add/remove your project') add your project
    script.
      document.body.className = 'load';
    include docs/includes/googleanalytics
