extends layout

block content
  ul.toc
    each block in acquitBlocks[0].blocks
      li
        a(href="##{block.identifier}") !{block.contents}
  each block in acquitBlocks[0].blocks
    h2(id="#{block.identifier}")
      a(href="##{block.identifier}") !{block.contents}
    if block.comments && block.comments.length
      :markdown
        !{block.comments[block.comments.length - 1]}
        ```javascript
        !{block.code}
        ```
  
  div.suffix
    !{suffix}
