extends layout

block content
  each item in docs
    h2(id="#{item.name}")
      a(href="##{item.name}")
        | #{item.name}
    each prop in item.props
      h3(id="#{prop.anchorId}")
        a(href="##{prop.anchorId}")
          | #{prop.string}
