extends layout

append style
  link(rel="stylesheet", href="/docs/css/api.css")
  script(src="/docs/js/api-bold-current-nav.js")

block content
  h1 API Docs

  include includes/native

  div.api-nav
    div.api-nav-content
      each item in docs
        - if (!item.hideFromNav)
          div.nav-item(id='nav-' + item.name)
            div.nav-item-title
              a(href='./api/' + item.name.toLowerCase() + '.html')
                | #{item.name}
            ul.nav-item-sub
              each prop in item.props
                li
                  a(href='./api/' + item.name.toLowerCase() + '.html#' + prop.anchorId)
                    | #{prop.string}

  each item in docs
    hr.separate-api
    div.item-header-wrap
      <a class="edit-docs-link" href="#{item.editLink}" target="_blank">
        <img src="/docs/images/pencil.svg" />
      </a>
      h2(id=item.name, class="item-header")
        a(href='#' + item.name)
          | #{item.name}
    ul
      each prop in item.props
        li
          a(href='#' + prop.anchorId)
            | #{prop.string}
    each prop in item.props
      hr.separate-api-elements
      h3(id=prop.anchorId)
        a(href='#' + prop.anchorId)
          | #{prop.string}
      if prop.param != null
        h5 Parameters
        ul.params
          each param in prop.param
            - if (param.nested)
              ul(style="margin-top: 0.5em")
                li
                  | #{param.name}
                  | <span class="method-type">&laquo;#{param.types}&raquo;</span> !{param.description}
            - else
              li.param
                | #{param.name}
                | <span class="method-type">&laquo;#{param.types}&raquo;</span> !{param.description}
      if prop.return != null
        h5 Returns:
        ul
          li <span class="method-type">&laquo;#{prop.return.types}&raquo;</span> !{prop.return.description}
      if prop.type != null && prop.type !== 'method' && prop.type !== 'function'
        h5 Type:
        ul
          li <span class="method-type">&laquo;#{prop.type}&raquo;</span>
      div
        | !{prop.description}
