extends layout

append style
  link(rel="stylesheet", href="/docs/css/api.css")

block content
  h1 API Docs

  div.api-nav
    each item in docs
      div.nav-item(id="nav-#{item.name}")
        a(href="##{item.name}")
          | #{item.name}

  each item in docs
    hr.separate-api
    h2(id="#{item.name}", class="item-header")
      a(href="##{item.name}")
        | #{item.name}
    ul
      each prop in item.props
        li
          a(href="##{prop.anchorId}")
            | #{prop.string}
    each prop in item.props
      hr.separate-api-elements
      h3(id="#{prop.anchorId}")
        a(href="##{prop.anchorId}")
          | #{prop.string}
      if prop.param != null
        h5 Parameters
        ul.params
          each param in prop.param
            li.param #{param.name} <span class="method-type">&laquo;#{param.types}&raquo;</span> !{param.description}
      if prop.return != null
        h5 Returns:
        ul
          li <span class="method-type">&laquo;#{prop.return.types}&raquo;</span> #{prop.return.description}
      div
        | !{prop.description}

  script(type="text/javascript").
    var headers = document.querySelectorAll('.item-header');
    var navItems = document.querySelectorAll('.nav-item');
    var cur = '';
    window.addEventListener('scroll', function() {
      var scrollY = window.scrollY;
      var highlight = headers[0];
      for (var i = 0; i < headers.length; ++i) {
        if (headers[i].offsetTop > scrollY) {
          break;
        }
        highlight = headers[i];
      }
      if (highlight.id !== cur) {
        cur = highlight.id;
        for (var j = 0; j < navItems.length; ++j) {
          navItems[j].style.fontWeight = '';
        }
        document.querySelector('#nav-' + highlight.id).style.fontWeight = 'bold';
      }
    });
