extends layout

append style
  link(rel="stylesheet", href="/docs/css/api.css")
  script(type="text/javascript" src="/docs/js/native.js")

block content
  h1 API Docs

  div.api-nav
    div.api-nav-content
      each item in docs
        div.nav-item(id="nav-#{item.name}")
          div.nav-item-title
            a(href="##{item.name}")
              | #{item.name}
          ul.nav-item-sub
            each prop in item.props
              li
                a(href="##{prop.anchorId}")
                  | #{prop.string}
    script.
      _native.init("CK7DT53U", {
        targetClass: 'native-ad',
        display: 'flex',
        visibleClass: 'native-show'
      });
    div#api-carbon-ad.
      <div class="native-ad">
        <style>
        .native-img.#native_index# {
          background-color: #native_bg_color#;
        }

        .native-img:hover.#native_index# {
          background-color: #native_bg_color_hover#;
        }

        .native-cta.#native_index# {
          color: #native_cta_color#;
          background-color: #native_cta_bg_color#;
        }
        .native-cta.#native_index#:hover {
          color: #native_cta_color_hover#;
          background-color: #native_cta_bg_color_hover#;
        }
        </style>
        <a href="#native_link#">
        <div class="native-banner">
          <img class="native-img #native_index#" src="#native_logo#">
          <span class="native-cta #native_index#">#native_cta#</span>
        </div>
        <span class="native-desc"> #native_desc#</span>
        <span class="native-sponsor">Sponsored by <strong>#native_company#</strong></span>
      </a>
      </div>

  each item in docs
    hr.separate-api
    h2(id="#{item.name}", class="item-header")
      a(href="##{item.name}")
        | #{item.name}
    ul
      each prop in item.props
        li
          a(href="##{prop.anchorId}")
            | #{prop.string}
    each prop in item.props
      hr.separate-api-elements
      h3(id="#{prop.anchorId}")
        a(href="##{prop.anchorId}")
          | #{prop.string}
      if prop.param != null
        h5 Parameters
        ul.params
          each param in prop.param
            li.param #{param.name} <span class="method-type">&laquo;#{param.types}&raquo;</span> !{param.description}
      if prop.return != null
        h5 Returns:
        ul
          li <span class="method-type">&laquo;#{prop.return.types}&raquo;</span> #{prop.return.description}
      div
        | !{prop.description}

  script(type="text/javascript").
    var headers = document.querySelectorAll('.item-header');
    var navItems = document.querySelectorAll('.nav-item .nav-item-title');
    var navSubs = document.querySelectorAll('.nav-item-sub');
    var cur = '';
    window.addEventListener('scroll', function() {
      var scrollY = window.scrollY;
      var highlight = headers[0];
      for (var i = 0; i < headers.length; ++i) {
        if (headers[i].offsetTop > scrollY) {
          break;
        }
        highlight = headers[i];
      }
      if (highlight.id !== cur) {
        cur = highlight.id;
        for (var j = 0; j < navItems.length; ++j) {
          navItems[j].style.fontWeight = '';
        }
        for (j = 0; j < navSubs.length; ++j) {
          navSubs[j].style.display = 'none';
        }
        document.querySelector('#nav-' + highlight.id + ' .nav-item-title').style.fontWeight = 'bold';
        document.querySelector('#nav-' + highlight.id + ' .nav-item-sub').style.display = 'block';
      }
    });
