extends layout

block content
  each block in acquitBlocks
    h2 !{block.contents}
    if block.comments && block.comments.length
      | !{block.comments[0]}

    each b in block.blocks
      h3 !{b.contents}
      if b.comments && b.comments.length
        | !{b.comments[0]}

      each it in b.blocks
        h4 !{it.contents}
        if it.comments && it.comments.length
          | !{it.comments[0]}

        :js
          #{it.code}
